@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=VT323&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-jetbrains text-sm text-white bg-ubuntu;
}

@layer components {
  .icon-square-box {
    @apply rounded-[4px]  bg-[#353737] p-2;
  }
  .icon-round-box {
    @apply rounded-full bg-[#353737]   p-1.5 flex items-center justify-center;
  }
  .icon-lg {
    @apply w-4 h-4;
  }
  .icon-sm {
    @apply w-2.5 h-2.5;
  }
  .triangle {
    @apply h-0 w-0 border-y-[16px]  -translate-x-[0.4px] border-y-transparent border-l-[16px];
  }
  .response {
    @apply px-2;
  }
}

@layer utilities {
  .hide-scrollbar {
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
  }

  .hide-scrollbar::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
  }
  .custom-scrollbar::-webkit-scrollbar {
    width: 8px; /* width of the vertical scrollbar */
    height: 8px; /* height of the horizontal scrollbar */
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: darkgrey; /* thumb color */
    border-radius: 10px; /* radius of the thumb */
    border: 2px solid transparent; /* optional: border for the thumb */
    background-clip: content-box; /* prevents the border from being colored */
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1; /* track color */
    border-radius: 10px; /* radius of the track */
  }
}
